html {
    background-color: #DDD;

    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

body:before,
body::before {
    content: '';
    width: 100px;
    height: 100px;
    display: block;
    background: blue;
}