html {
    background-color: blue;
    
    margin: 0;
    padding: 0;
    
    body {
        margin: 0;
        padding: 0;
        
        &:before,
        &::before {
            content: '';
            width: 100px;
            height: 100px;
            display: block;
            background: red;
        }
    }
}